<!-- <header class="site-header">

  <div class="wrapper"> -->


    <!-- Primary Page Layout
      ================================================== -->
<!--     <div id="wrap" class="colorskin-6"> -->
      <div class="top-bar">
        <div class="container">

          <div class="socailfollow"><a href="#" class="twitter"><i class="icomoon-twitter"></i></a> <a href="#" class="linkedin"><i class="icomoon-linkedin"></i></a> <a href="#" class="youtube"><i class="icomoon-youtube"></i></a><a href="#" class="github"><i class="icomoon-github"></i></a></div>
        </div>
      </div>
      <div id="sticker">
        <header id="header">
          <div  class="container">
            <div class="eight columns logo">
              <a href="index.html"><img src="/images/kale2.png" width="80" id="img-logo" alt="logo" style="float: left; margin-right: 10px;"></a>
              <h1 style="margin-bottom: .25em;">The Grokery</h1>
              <h3 style="margin-top: .15em;"><small>Tag Line</small></h3>
            </div>
            <nav id="nav-wrap" class="nav-wrap1 eight columns">

              <ul id="nav">
                <!--<li>
                  <a href="/index.html">Home</a>
                </li>
                <li>
                  <a  href="#">Pages</a>
                </li>
                <li>
                  <a href="#">Features</a>
                </li> -->
                <li class="current">
                  <a  href="/blog.html">Blog</a>
                </li>
                <li>
                  <a href="#">About</a>
                </li>
              </ul>
            </nav>
            <!-- /nav-wrap -->
          </div>
        </header>
      </div>
      <!-- end-header -->


     <!--  <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header> -->

