<div class="top-bar">
  <div class="container">

    <div class="socailfollow">
      <!-- <a href="#" class="twitter"><i class="icomoon-twitter"></i></a> <a href="#" class="linkedin"><i class="icomoon-linkedin"></i></a><a href="#" class="youtube"><i class="icomoon-youtube"></i></a><a href="https://github.com/thegrokery" class="github"><i class="icomoon-github"></i></a>-->
    </div>
  </div>
</div>
<div id="sticker">
  <header id="header">
    <div  class="container">
      <div class="eight columns logo">
        <a href="/blog.html"><img src="/images/kale2.png" width="80" id="img-logo" alt="logo" style="float: left; margin-right: 10px;">
        <h1 style="margin-bottom: .25em;">Lauer Vose Blog</h1>
        <h3 style="margin-top: .15em;"><small><strong><em>Teaching dinosaurs to code since 2010</em></strong></small></h3></a>
      </div>
      <nav id="nav-wrap" class="nav-wrap1 eight columns">

        <ul id="nav">
          <!-- <li>
            <a href="/index.html">Home</a>
          </li> -->
          <li class="#">
            <a  href="/blog.html">Blog</a>
          </li>
          <li class="#">
            <a href="/about.html">About</a>
          </li>
          <li>
            <a  href="http://chuckvose.com/">Chuck</a>
          </li>
          <li>
            <a href="http://erica.lauervose.com/">Erica</a>
          </li>
        </ul>
      </nav>
      <!-- /nav-wrap -->
    </div>
  </header>
</div>
<!-- end-header -->


