---
layout: default
---
<hr class="vertical-space2">
<hr class="vertical-space2">

<section class="section-blog">
  <div class="container">


    {{ content }}

    <aside class="four columns offset-by-one sidebar">

      <h4>Categories</h4>
      <div class="listbox1">
        <ul>
          {% for category in site.cat_map %}
          <li><a href="{{ category[1].url }}">{{ category[1].name }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <!-- end-listbox1 -->
      <!-- <br class="clear">
      <h4>Text Widget</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor<a href="#"> exercitation</a> ut labore et dolore magna aliqua. Ut enim ad</p> -->
      <br class="clear">
      <h4>More Blog Posts</h4>
      <div class="listbox1">
        <ul>
          {% for post in site.posts | limit:10 %}
          <li><a href="{{ post.url }}"> {{post.date | date: '%b. %d, %Y' }} {{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <!-- end-listbox1 -->
    </aside>
    <!-- end-sidebar-->
    <br class="clear">

    <div class="vertical-space2"></div>
  </div>
</section>
