<!DOCTYPE html>
<html>

  <div id="wrap" class="colorskin-6">

    {% include head.html %}

    <body>

      {% include header.html %}

          <section class="container page-content" >
              <section class="eleven columns">

                {{ content }}


                    <br class="clear">

                    <div class="vertical-space2"></div>
                  </section>
                  <!-- end-main-content -->

              <br class="clear">
            </section>
            <!-- container -->

      {% include footer.html %}

      <!-- end-wrap -->
      <!-- End Document
      ================================================== -->
      <script type="text/javascript" src="/js/mexin-custom.js" ></script>
      <script type="text/javascript" src="/js/doubletaptogo.js" ></script>
      <script type="text/javascript" src="/js/jquery.sticky.js"></script>
      <script src="/js/bootstrap-alert.js"></script>
      <script src="/js/bootstrap-dropdown.js"></script>
      <script src="/js/bootstrap-tab.js"></script>
      <script src="/js/bootstrap-tooltip.js"></script>
    </body>

  </div>

</html>
