<!DOCTYPE html>
<html>

  <div id="wrap" class="colorskin-6">

    {% include head.html %}

    <body>

      {% include header.html %}

      <div class="page-content">
        <div class="wrapper">

          <section id="headline">
            <div class="container">
            <hr class="vertical-space2">
              <h3>The Grokery Blog<small>Tag Line</small></h3>
            </div>
          </section>
          <section class="container page-content" >
            <hr class="vertical-space2">
              <section class="eleven columns">
                <hr class="vertical-space2">

                {{ content }}


                    <br class="clear">

                    <div class="vertical-space2"></div>
                  </section>
                  <!-- end-main-content -->

              <br class="clear">
            </section>
            <!-- container -->

        </div>
      </div>

      {% include footer.html %}

      <!-- end-wrap -->
      <!-- End Document
      ================================================== -->
      <script type="text/javascript" src="/js/mexin-custom.js" ></script>
      <script type="text/javascript" src="/js/doubletaptogo.js" ></script>
      <script type="text/javascript" src="/js/jquery.sticky.js"></script>
      <script src="/js/bootstrap-alert.js"></script>
      <script src="/js/bootstrap-dropdown.js"></script>
      <script src="/js/bootstrap-tab.js"></script>
      <script src="/js/bootstrap-tooltip.js"></script>
    </body>

  </div>

</html>
